body {
  font-family: "Poppins", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif, sans-serif; */
  background: #f1f1f1;
  color: #959a9e;
  font-size: 0.8rem;

  font-weight: 300;
}
.logo {
  /* text-align: center; */
  margin-bottom: 0.625rem;
}

.wrapper {
  padding: 3.125rem;
  box-sizing: border-box;
  text-align: center;
} 

.loginForm {
  background: #fff;
  text-align: left;
  height: 13.125rem;
  margin: auto;
  max-width: 15.875rem;
  padding-top: 1.74rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  box-shadow: 0 1px 1px 1px lightgray;
}

.btn {
  background-color: #0f85ba;
  border: none;
  border-radius: 3.5px 3.5px 3.5px 3.5px;
  width: 3.375rem;
  height: 1.68rem;
  /* color: #f1f1f1; */
  color: lightgray;
  text-align: center;
  font-size: 0.75rem;
  float: right;
  position: relative;
  margin-top: -1.25rem;
  margin-right: -0.125rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: 1.5px solid lightgray;
  background: #fbfbfb;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  height: 1.875rem;
}

a,
p {
  color: gray;
  display: inline-block;
  text-decoration: none;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  font-weight: 300;

}

#lostpass {
  color: gray;
  text-align: left;
  height: 13.125rem;
  margin: auto;
  max-width: 15.875rem;

}

.stylecheckbox input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  font-size: 0.72rem;
}
.stylecheckbox input[type="checkbox"] + label {
  position: relative;
  padding: 3px 0 0 25px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.72rem;
}

.stylecheckbox input[type="checkbox"] + label::before {
  content: "";
  background: white;
  border: 2px solid lightgrey;
  height: 0.9375rem;
  width: 0.9375rem;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.72rem;

  display: inline-block;
}
.stylecheckbox input[type="checkbox"] + label:after {
  content: "";
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: #0f85ba;
  width: 0.625rem;
  height: 0.3125rem;
  position: absolute;
  top: 0.1875rem;
  left: 0.25rem;
  transform: scale(2) rotate(-45deg);
  opacity: 0;
  font-size: 0.72rem;

  display: inline-block;
}
.stylecheckbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1) rotate(-45deg);
}
